Source: DEBIAN_PACKAGE-dkms
Section: free
Priority: optional
Maintainer: Luca Deri <deri@ntop.org>
Build-Depends: debhelper (>= 7), dkms, kmod
Standards-Version: 3.8.1

Package: DEBIAN_PACKAGE-dkms
Architecture: all
Depends: pfring (=7.3.0-2187), dkms (>= 1.95), ${misc:Depends}
Description: PF_RING driver in DKMS format. GIT info: dev:4ba4ffbebbca5781af789e7a5fbf297069d6c361 (Fri Oct 12 10:36:15 2018 +0200)

