<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fkjava.mavenqs.dao.InsuserDao">
    <select id="getProject" resultType="org.fkjava.mavenqs.entity.Insuser">
        SELECT distinct project_id FROM ins_user
    </select>
    <select id="getVM" resultType="org.fkjava.mavenqs.entity.Insuser">
        SELECT display_name,uuid,float_ip,ip FROM ins_user where project_id=#{project}
    </select>
    <select id="getName" resultType="org.fkjava.mavenqs.entity.Insuser">
        SELECT distinct name FROM ins_user where project_id=#{project}
    </select>
    <select id="getRule" resultType="org.fkjava.mavenqs.entity.Insuser">
        SELECT * FROM rules
    </select>
    <select id="getRuleByRuleId" resultType="org.fkjava.mavenqs.entity.Insuser">
        SELECT * FROM rules where ruleid=#{ruleid}
    </select>
    <select id="getPastByRuleId" resultType="org.fkjava.mavenqs.entity.Insuser">
        SELECT * FROM past where ruleid=#{ruleid}
    </select>
    <select id="getPast" resultType="org.fkjava.mavenqs.entity.Insuser">
        SELECT * FROM past where display_name=#{displayname}
    </select>
    <select id="getPastAll" resultType="org.fkjava.mavenqs.entity.Insuser">
        SELECT * FROM past where display_name=#{displayname}
    </select>
    <insert id="makeRule">
        insert into rules (ruleinfo) values (#{ruleinfo})
    </insert>
    <delete id="deleteRule">
        delete from rules where rulename=(#{rulename} and ruleobject=(#{ruleobject} and ruleinfo=(#{ruleinfo} and rulestate=(#{rulestate})
    </delete>
</mapper>
